/* Baseplate */

body {
    font-family: "Poppins";
}

.wrapper {
    max-width: 1200px;
    margin: auto;

    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

/* Header */

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
}

header img {
    width: 100%;
}

.wrapper a:link,
.wrapper a:visited {
    text-decoration: none;
    color: black;
}

.wrapper nav li {
    flex-wrap: wrap;
    margin-left: 50px;
    list-style-type: none;
    font-size: 1rem;
}

.wrapper nav ul {
    display: flex;
}

/* Products */

#products .images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-template-areas: 
    "div1 div1 div1"
    "div2 div3 div4";
}

#products .image1 {
    width: 100%;
    border-radius: 5px;
    grid-area: div1;
}

#products .image2 {
    width: 100%;
    border-radius: 5px;
    grid-area: div2;
}

#products .image3 {
    width: 100%;
    border-radius: 5px;
    grid-area: div3;
}

#products .image4 {
    width: 100%;
    border-radius: 5px;
    grid-area: div4;
}

/* Intro */

#affair .wrapper {
    padding-bottom: 40px;
}

#affair h4 {
    margin-bottom: 0px;
}

#affair .description {
    margin-top: 0px;
}

#affair a:link, 
#affair a:visited {
    padding: .6em 1em;

    background-color: black;
    color: white;

    border-radius: 10px;
}

/* Backstory */

#behind .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #f8fafc;
}

/* Reviews */

#reviews .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    color: white;
    background-color: black;
}

/* Options */

#options .wrapper {
    
}

/* Footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: black;
    color: white;

    font-size: 0.8rem;

    text-align: center;
}