/* Baseplate */

body {
    font-family: "Poppins";
}

.wrapper {
    max-width: 1200px;
    margin: auto;

    padding-left: 25px;
    padding-right: 25px;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
    text-align: center;
}

h3 {
    font-size: 1.266rem;
}

/* Header */

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
}

header img {
    width: 100%;
}

.wrapper a:link,
.wrapper a:visited {
    text-decoration: none;
    color: black;
}

.wrapper nav li {
    flex-wrap: wrap;
    margin-left: 50px;
    list-style-type: none;
    font-size: 1rem;
}

.wrapper nav ul {
    display: flex;
}

/* Intro Images */

#affair .images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-template-areas: 
    "div1 div1 div1"
    "div2 div3 div4";
}

#affair .image1 {
    width: 100%;
    border-radius: 5px;
    grid-area: div1;
}

#affair .image2 {
    width: 100%;
    border-radius: 5px;
    grid-area: div2;
}

#affair .image3 {
    width: 100%;
    border-radius: 5px;
    grid-area: div3;
}

#affair .image4 {
    width: 100%;
    border-radius: 5px;
    grid-area: div4;
}

/* Intro Text */

#affair .wrapper {
    padding-bottom: 40px;
}

#affair h4 {
    margin-bottom: 0px;
}

#affair .description {
    margin-top: 0px;
}

#affair a:link, 
#affair a:visited {
    padding: .6em 1em;

    background-color: black;
    color: white;

    border-radius: 10px;
}

/* Backstory */

#behind .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #f8fafc;
}

#behind .grid {
    display: grid;
    gap: 40px;
}

#reviews .grid article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Reviews */

#reviews .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    color: white;
    background-color: black;
}

#reviews .grid {
    display: grid;
    gap: 40px;
}

#reviews .grid article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Options */

#options .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#options .image {
    text-align: center;
    background-color: #f8fafc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#options img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 50px;

    background-color: black;
    color: white;

    font-size: 0.8rem;

    text-align: center;
}

/* Media Queries */

@media (min-width: 768px) {
    #behind .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #reviews .grid {
        grid-template-columns: repeat(3, 1fr); 
    }

    #options .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 960px) {
    #affair .images {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "div1 div2"
        "div3 div4";

        padding-right: 25px;
    }
    
    #affair .image1 {
        width: 100%;
        grid-area: div1;
    }
    
    #affair .image2 {
        width: 100%;
        border-radius: 5px;
        grid-area: div2;
    }
    
    #affair .image3 {
        width: 100%;
        border-radius: 5px;
        grid-area: div3;
    }
    
    #affair .image4 {
        width: 100%;
        border-radius: 5px;
        grid-area: div4;
    }

    #affair .wrapper {
        display:flex;
    }
}